/* 
.subs-cont-top > span {
    font-family: 'Fjalla One', sans-serif;
    color: #5cc2c6;
    font-size: 40px;
    margin-bottom: 10px;
    display: inline-block;
}
.subs-cont-mid > p {
    display: inline-block;
    font-size: 20px;
    width: 100%;
    color: #fff;
    letter-spacing: 0.05px;
    float: left;
    margin-bottom: 0;
}
.subscription-content {
    background: #000;
    color: #fff;
    padding: 50px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.subscription-option {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: auto;
}
.subs-option {    
    display: inline-block;
    background: #fff;
    color: #000;
    width: 100%;
    max-width: Calc(33% - 65px);
    vertical-align: top;
    margin: 0 10px;
    padding: 22px;
}
.subs-cont-mid {
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
}
.subs-price {
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
}
.subs-type {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}
.subs-discount {
    font-family: 'Fjalla One', sans-serif;
    color: #5cc2c6;
    font-size: 20px;
    padding: 15px 25px 25px;
}
.membership-description > p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    margin: 0 0 10px;
}
.btn-subscribe {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 50px;
    background: #000;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
}

.btn-subscribe:hover, .btn-subscribe:focus {
    background:#5cc2c6
}
.subscription-content > .container {
    width: 100%;
} */


.page-content-top .subscription-title h4{font-size: 16px;}
.subscription-form .form-area .form-element .txt{padding: 0 10px;}
.subscription-form .form-area .form-element textarea.txt{height: 80px;padding: 10px 10px;}
.subscription-form .page-content-top{border: none;padding-bottom: 0px;}
.subscription-form .form-area .form-element label{font-weight: 400;}
.subscription-form .page-content-top h4{font-size: 14px;}
.icon.icon-subscription-plugin-in {background-image: url('../images/icons/subscription_plugin_in.svg');}

textarea[disabled], textarea[readonly]{background-color: #eee !important;opacity: 1;}


.subsc-package-title a{color: var(--user-color);font-weight: 600;}
.subsc-darkgrey-colot-txt{color: #4D4D4D;}
.atag-color{margin-top: 10px;text-align: right;color: var(--user-color);}
.seller-tab-area .tab-content #subscriptions .item-form-group label {color: #999;}
.seller-tab-area .tab-content #subscriptions .item-form-group .gutter-30 {margin-bottom: 30px;}

.method-form{display: flex;}
.method-form input {border: none !important;margin: 0px !important;}
.method-form input.card-number{width: 70%;}
.method-form input.mm-yy{width: 15%;}
.method-form input.cvc{width: 15%;}

.icon.card-number{background-image: url('../images/icons/credit-card.svg');background-size: contain;margin: auto;}
.subscription-title-box{margin-bottom: 40px}
.method-main{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.subscription-package-box { border: 1px solid #C7C7C7; padding: 10px 15px;}
.subscription-list-head { color: #4D4D4D; font-size: 14px; font-weight: 700; border: 1px solid #C7C7C7; padding: 5px 0px;}
.subscription-list-body { color: #999; font-weight: 400; font-size: 14px; border: 1px solid #C7C7C7; border-top: none; padding: 5px 0px; margin-bottom: 30px;}
.subscription-step2{ max-width: 800px; margin: auto;}
.package-price { margin-top: 7px; margin-bottom: 7px; text-align: right;}
.subscription-package-title { color: #4A4A4A; font-size: 14px; font-weight: 700;}
#paynowPackage { margin-bottom: 40px; background: var(--user-color);}
.seller-items.page-settings a.my-btn { margin: 15px auto;}
.seller-setting-p {margin-bottom: 15px;}
.cmn-clr-theme {color: var(--user-color) !important;}
.page-seller.seller-items .seller-settings-menu-container { margin-bottom: 0px;}

.popup-area .content-area {
    margin-bottom: 15px;
}

.popup-area.item-remove-popup .btn-saffron {
    max-width: 100px;
    min-width: 100px;
}

.cmn-clr-theme a.disabled {
    color: #999;
}

#status {
    text-transform: capitalize;
}

#settings_save #next-tab {
	width: 100% !important;
	background: var(--user-color) !important;
	color: #fff !important;
	text-align: center !important;
	margin: 15px auto !important;
	height: 40px !important;
	float: left !important;
	/* line-height: 40px !important; */
	font-size: 14px !important;
	cursor: pointer !important;
	border-radius: 5px !important;
}

#settings_save {
	width: 150px !important;
	margin: 0 auto !important;
}


.page-subscription .page-content-top .icon.info-blue-icon{margin-right: 0px;}


.btn-loader {
	position: relative;
}

.btn-loader.btn-loading:after {
	display: flex;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle-notch' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-circle-notch fa-w-16'%3E%3Cpath fill='%23fff' d='M288 39.056v16.659c0 10.804 7.281 20.159 17.686 23.066C383.204 100.434 440 171.518 440 256c0 101.689-82.295 184-184 184-101.689 0-184-82.295-184-184 0-84.47 56.786-155.564 134.312-177.219C216.719 75.874 224 66.517 224 55.712V39.064c0-15.709-14.834-27.153-30.046-23.234C86.603 43.482 7.394 141.206 8.003 257.332c.72 137.052 111.477 246.956 248.531 246.667C393.255 503.711 504 392.788 504 256c0-115.633-79.14-212.779-186.211-240.236C302.678 11.889 288 23.456 288 39.056z' class=''%3E%3C/path%3E%3C/svg%3E");
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	z-index: 99;
	align-items: center;
	justify-content: center;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	color: #fff;
	content: "";
}

.btn-loader.btn-loading.loader-radius-bespoke::before {
	border-radius: 30px;
}

.btn-loader.btn-loading.loader-radius-spacetime::before {
	border-radius: 5px;
}

.btn-loader.btn-loading::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 9;
	display: block;
	content: "";
    
}
